.limiter{
    background-color: #402A24;
    padding-top: 50px;

    .wrap-login100{
        background-color: #402A24;
    }
    .container-login100{
        background-color: #402A24;
    }
    form{
        background-color: #402A24;
        color: white;
    }
}

.login100-form, .validate-form, .label-input100, .txt1, .input100{
    color: white !important;
}
.login100-form-title{
    color: white;
}

.login100-form-btn{
    background-color: #FF460F;
}