<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" routerLink="">Grill Book</a>
      <div class="phone"><span>Llama ahora</span>xxx-xxx-xxxx</div>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div *ngIf="auth.isLogged; else loggedOut">
            <ul class="nav navbar-nav navbar-right">
                <li *ngFor="let link of linksMenuLogged"><a routerLink={{link.router}} class="page-scroll">{{link.name}}</a></li>
                <li><a [routerLink]="" (click)="logout()">Cerrar sesion</a></li>
              </ul>
          </div>
          
          <ng-template #loggedOut>
              <ul class="nav navbar-nav navbar-right">
                  <li *ngFor="let link of linksMenuNotLogged"><a routerLink={{link.router}} class="page-scroll">{{link.name}}</a></li>
                </ul>
          </ng-template>
      
    </div>
    <!-- /.navbar-collapse --> 
  </div>
</nav>